{% extends "base.html" %}
{% block meta %}
<title>queuesome the blog</title>
<meta name="description" content="read blog posts from your favorite agnostic, age-diverse, freelance writers from the greater D.C. Area"/>
{% endblock %}
{% block right_header %}<a href="/blog"><em><a style="font-family: 'Righteous', cursive; color:rgb(0, 0, 0); padding-right: 5px;">the blog</a></em></a>{% endblock %}

{% block page_content %}

<style>
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }

    a { color: inherit; }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6"><a href="/blog/profile/{{post.author.id}}">{{ post.author }}</a> | {{ post.created_on}} </p>
                    {% if post.preview != "" %}
                    <p class="card-text">{{post.preview}}</p>
                    {% else %}
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    {% endif %}
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-lg button-white">Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}