{% extends "base.html" %}
{% block right_header %}<a href="/blog"><em><a style="font-family: 'Righteous', cursive; color:rgb(0, 0, 0); padding-right: 5px;">the blog</a></em></a>{% endblock %}

{% block page_content %}

<style>
 
    
    .card {
        box-shadow: 0 16px 48px #E3E7EB;
    }
</style>

<div class="container">
    <div class="row">
        <!-- Blog Entries Column -->
        <div class="col-md-8 mt-3 left">
            {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <p class="card-text text-muted h6">{{ post.author }} | {{ post.created_on}} </p>
                    {% if post.preview != "" %}
                    <p class="card-text">{{post.preview}}</p>
                    {% else %}
                    <p class="card-text">{{post.content|slice:":200" }}</p>
                    {% endif %}
                    <a href="{% url 'post_detail' post.slug  %}" class="btn btn-outline-light btn-lg block" style= "border:3px solid black; border-radius:16px; color:black" >Read More &rarr;</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}