{% extends "base.html" %}
{% block right_header %}<a href="/blog"><em><span style="font-family: 'Righteous', cursive; color:white;">the blog</span></em></a>{% endblock %}
{% block page_content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4 mt-3 pb-4 left top">
      <div class="card-body">
        <div class="text-right">
          <a href="{% url 'home'  %}">&larr; Back</a>
        </div>
        <h1>{% block title %} {{ object.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ object.content | safe }}</p>
      </div>
      <a href="{% url 'home'  %}" class="btn btn-outline-primary">&larr; Back</a>
    </div>
  </div>
</div>

{% endblock %}