<!DOCTYPE html>
{% extends "base.html" %}

{% block page_content %}

<script>
    setTimeout(function() {
        var main = document.getElementById("main");
        main.classList.add("slide-up-fade-in");
	}, 2000);
    setTimeout(function(){
        var logo = document.getElementById("boundary");
        logo.style.WebkitTransition = 'opacity .75s ease-in-out';
        logo.style.opacity = '0';
    }, 2100);
    setTimeout(function() {
        var main = document.getElementById("main");
        main.classList.remove("slide-up-fade-in");
        main.style.opacity = '1';
        if ('{{HEROKU}}' == 'True' && '{{STAGE}}' == 'False'){
        window.location.replace('https://queuesome.com/index');
        }
        else{
            window.location.replace('index');  
        }
	}, 3200);
</script>

<div class="outside" style="background: rgb(255,255,255);">
    {% load static %}
    <div id="boundary">
        <div class="boundary">
            <img src="{% static 'images/no_reels.png' %}" class="logo" id="logo" alt="...">
        </div>
        <div class="boundary"  style="border-bottom-width:33px;">
            <img src="{% static 'images/reel1.png' %}" class="reel_1 spin" id="reel" alt="...">
            <img src="{% static 'images/reel1.png' %}" class="reel_2 rotate spin" id="reel2" alt="...">
        </div>
    </div>
    <form action="" method="post">
        {% csrf_token %}	
        <div class="hidden text-center main form-width" id="main"> 
            <h1 style="color:rgb(255, 255, 255); text-shadow: 0px 0px 15px rgb(255, 192, 115),4px 4px 15px rgb(255, 204, 133),4px 4px rgb(100, 58, 0); font-size:50px; font-family: 'Righteous', cursive;">queuesome</h1>
            <p style="color:gray;">Let's get something going</p>
            <div class="row">
                <input type="submit" class ="btn btn-lg button-white"  role="button" value="Start Sesh">
            </div>
            <div class="row pt-2">
                <a href ="party/join_party/" class ="btn btn-lg button-black" role="button">Join Sesh</a>
            </div>
            <div class = "row">
                <div class ="col-2"></div>
                <div class=" col-8 pt-5 text-center">
                    <a class="small"  style="color:black;" href ="https://www.tiktok.com/@queuesome?lang=en" target="_blank"><em class="fa-brands fa-tiktok" data-bs-icon="simple-icons:tiktok"></em></a>
                    <a class = "ps-2" style="color:black;" href="https://www.instagram.com/queuesome_" target="_blank"><em class="fa fa-instagram" style="font-size:24px"></em></a>
                    <a class = "ps-2 pe-2" style="color:black;" href ="https://twitter.com/queuesome" target="_blank"><em class="fa fa-twitter" style="font-size:24px"></em></a>
                    <a class = "pe-2" style="color:black;" href ="https://github.com/gregorymote/queue_it_up/blob/master/README.md" target="_blank"><em class="fa fa-github" style="font-size:24px"></em></a>
                    <a class="small" href ="/blog/" target="_blank" style="color:black;"><em class="fa-solid fa-book" data-bs-icon="uil:book-reader"></em></a>
                </div>
                <div class = "col-2 pt-3">
                    <a style="color:black;" data-bs-toggle="modal" data-bs-target="#myModal"><em class="fa fa-info-circle" style="font-size:20px"></em></a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}