<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}
	
		<div class = "pt-5 text-center">
			<h1>Queue it Up</h1>
			<p>Let's get something going</p>
				
			<a href ="party/login/" class = "btn btn-outline-primary btn-lg" role="button">Start Party</a>
			<a href ="party/join_party/" class = "btn btn-outline-primary btn-lg" role="button">Join Party</a>
	
		</div>
	
	 <!-- Button to Open the Modal -->
		  <div class = "pt-5 text-right">
		  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal">
			What is this?
		  </button>
		</div>
		  <!-- The Modal -->
		  <div class="modal fade" id="myModal">
			<div class="modal-dialog">
			<div class="modal-dialog modal-dialog-scrollable">
			  <div class="modal-content">
			  
				<!-- Modal Header -->
				<div class="modal-header">
				  <h4 class="modal-title">Queuenopsis</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<!-- Modal body -->
				<div class="modal-body">
				 <p>Oh, sup thanks for hanging at Queue it Up, the chillest way for the whole fam to curate vibes of a kickback that’s bound to launch into a rager.</p>
				
				 <h5>Here’s the basic gist:</h5>
				 
				 <ul>
				  <li>Start a Party by logging into your Spotify Premium account and selecting a device connected to your opened and logged in Spotify Account</li>
				  <li>Let fam join your party by sharing your unique party code</li>
				  <li>Once you start your party, each partier takes a turn picking/customizing a song category</li>
				  <li>After the partier submits a category, then each partier gets to add a song to the queue that fits the category </li>
				  <li>When all partiers submit their songs to the queue, the songs in the queue will play on the selected device and a new partier gets to choose a category for the next round</li>
				  <li>After the first round kicks off, the rest of the rounds seamlessly flow together</li>
				  <li>During each round, throw fam some likes and view whose song was totes flames that round    </li>
				</ul>
				
				 <div class = "text-center">
					<h5>and that's it...</h5>
					<h5>Let’s get something going</h5>
				</div>
				</div>
				
				<!-- Modal footer -->
				<div class="modal-footer">
				  <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
				</div>
				</div>
			  </div>
			</div>
		  </div>
	
</html>
{% endblock %}
