<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}
<html lang="en">

	
	<body>
	
		
		<div class="container">
			
				<div class = "text-center">
					
					<h1>Queue it Up</h1>
					<p>Let's get something going</p>
					
					<div>
						<a href ="party/login/" class = "btn btn-outline-primary btn-lg" role="button">Start Party</a>
						<a href ="party/join_party/" class = "btn btn-outline-primary btn-lg" role="button">Join Party</a>
						
					</div>
				
				</div>
			
		</div>
	
	</body>
	
</html>
{% endblock %}
