.animated{
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
    animation-iteration-count: infinite;
 }

 .arrow {
    position: absolute;
    top: 15%;
    right: 3%;
    z-index: 0px;
    cursor: pointer;
    transform: translateX(0px);
    color: rgb(167, 167, 167);
}

.art{
    height: 90px;
    width: 90px;
}

.artwork {
    width:50px;
    height:50px; 
    max-height: 50px;
    vertical-align: middle;
}

.artwork-square{
    width: 80%;
    max-height: 300px;
    max-width: 300px;
}
.artwork-square:after{
    content: "";
      display: block;
      padding-bottom: 100%;
}

@-webkit-keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
    40% {-webkit-transform: translateY(-30px);} 
    60% {-webkit-transform: translateY(-15px);} 
 } 
 
 @keyframes bounce { 
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-30px);} 
    60% {transform: translateY(-15px);} 
 }

 .bar {
    margin: 0px;
    padding: 0px;
    width: 100%;
    outline: none;
    height: 30px;
    border-radius: 5px;
}
 
 .bounce { 
    -webkit-animation-name: bounce; 
    animation-name: bounce; 
 }
 
 .boundary {
    border-width: 0px;
    border-style: solid;
    border-color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left:50%;
    transform:translateX(-50%);
    min-height: 100vh;
}

.blurry {
    position: absolute;
    filter: blur(15px);
}

.buttonIn {
    position: relative;
}

.button-black{
    width:100%;
    border-radius:16px;
    color:white !important;
}

.category-leader {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    width: 85%;
    margin:auto;
}

.center{
    position: relative;
    top: 50%;
    transform: translate(10%,-50%) !important;
    bottom: 50%;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.clear {
  position: relative;
}

.device{
    font-size: 24px;
}

.device-set{
    color:gray;
    font-size: 30px;
}

.fade-in {
    animation: fadeIn ease 2.5s;
    -webkit-animation: fadeIn ease 2.5s;
    -moz-animation: fadeIn ease 2.5s;
    -o-animation: fadeIn ease 2.5s;
    -ms-animation: fadeIn ease 2.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.form-control:focus { /* You can also use .element.text:focus here */
	border-color: rgb(255, 192, 115) !important;
	outline: 0;
	-webkit-box-shadow: inset 0px 1px 1px rgb(255, 192, 115),0px 0px 8px rgb(255, 204, 133) !important;
	box-shadow: inset 0px 1px 1px rgb(255, 192, 115),0px 0px 8px rgb(255, 204, 133) !important;
}  

.form-width{
    max-width: 500px;
}

.guide {
    width: 5px;
    height: 5px;
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
}

.hidden {
    opacity: 0;
}

.img-badge {
    width: 100px;
    height: 100px;
    padding: 0px 0px 0px;
    position: relative;
    display: inline-block;
    margin-bottom: -10px !important;
}

.info {
    padding-top: 8px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    vertical-align: middle;
}

.item {
    width:100px;
    vertical-align: top;
    display: inline-block;
}

.logo {
    max-width: 175px;
    max-height: 117px;
    top: 0%;
    left: 0%;
}

.main {
    position: relative;
    width: 80%;
    margin-top: 200px !important;
    margin: 0 auto;
}

.no-focus{
    outline: none !important;
      box-shadow: none !important;
}

.notify-badge{
    width: 20px; 
    height: 20px; 
    line-height:20px;
    position: absolute;
    top: -2px;
    right: 0px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:14px;
}

.option-padding {
    padding: 3px 0px;
}

.outside{
    position: fixed;
    top: -30;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.qr-square {
    width: 80%;
    max-height: 300px;
    max-width: 300px;
}

.qr-square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.reel_1 {
    width: 81px;
    height: 81px;
    position: relative;
}

.reel_2 {
    width: 81px;
    height: 81px;
    position: relative;
    margin-left: 8px;
}

.results {
    padding-left: 15px;
    padding-right: 15px;
}

.results-user{
    text-overflow: ellipsis;
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 6px;
    font-size: 8px;
    color: gray;
    margin-top: -18px !important;
}

.results-song{
    text-overflow: ellipsis;
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    padding-left: 6px;
    font-size: 10px;
}

.rotate {
    transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(720deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(720deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

.slide-down-fade-in {
    animation: slide-down-fade-in ease 1.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;

    -webkit-animation: slide-down-fade-in ease 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;

    -moz-animation: slide-down-fade-in ease 1.5s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;

    -o-animation: slide-down-fade-in ease 1.5s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;

    -ms-animation: slide-down-fade-in ease 1.5s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;

    opacity: 0;
    opacity: 1\9;

}

@keyframes slide-down-fade-in {
    0% {
        opacity: 0;
        transform: translate(0px, -40px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes slide-down-fade-in {
    0% {
        opacity: 0;
        -moz-transform: translate(0px, -40px);
    }

    100% {
        opacity: 1;
        -moz-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes slide-down-fade-in {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, -40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

@-o-keyframes slide-down-fade-in {
    0% {
        opacity: 0;
        -o-transform: translate(0px, -40px);
    }

    100% {
        opacity: 1;
        -o-transform: translate(0px, 0px);
    }
}

@-ms-keyframes slide-down-fade-in {
    0% {
        opacity: 0;
        -ms-transform: translate(0px, -40px);
    }

    100% {
        opacity: 1;
        -ms-transform: translate(0px, 0px);
    }
}

.slide-up-fade-in {
    animation: slide-up-fade-in ease 1.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;

    -webkit-animation: slide-up-fade-in ease 1.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;

    -moz-animation: slide-up-fade-in ease 1.5s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;

    -o-animation: slide-up-fade-in ease 1.5s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;

    -ms-animation: slide-up-fade-in ease 1.5s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;


    opacity: 0;
    opacity: 1\9;

}

@keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        transform: translate(0px, 40px);
    }

    100% {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@-moz-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -moz-transform: translate(0px, 40px);
    }

    100% {
        opacity: 1;
        -moz-transform: translate(0px, 0px);
    }
}

@-webkit-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -webkit-transform: translate(0px, 40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate(0px, 0px);
    }
}

@-o-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -o-transform: translate(0px, 40px);
    }

    100% {
        opacity: 1;
        -o-transform: translate(0px, 0px);
    }
}

@-ms-keyframes slide-up-fade-in {
    0% {
        opacity: 0;
        -ms-transform: translate(0px, 40px);
    }

    100% {
        opacity: 1;
        -ms-transform: translate(0px, 0px);
    }
}

.small {
    font-size: 24px;
    line-height: 24px;
}

.song-title {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    width: 90%;
    margin:auto;
}

.spin {
    -webkit-animation: spin 2.5s linear;
    -moz-animation: spin 2.5s linear;
    animation: spin 2.5s linear;
}


.font-font {
    color:black; 
    text-shadow: 0px 0px 15px #ffff00ff,4px 4px 15px #ff00ffff,4px 4px #ff00ffff;
    font-size:50px; 
    font-family: 'Righteous', cursive;

}

@font-face{font-family:casino_handregular;src:url(Casino_Hand/casino_hand-webfont.eot);src:url(Casino_Hand/casino_hand-webfont.eot?#iefix) format("embedded-opentype"),url(Casino_Hand/casino_hand-webfont.woff) format("woff"),url(Casino_Hand/casino_hand-webfont.ttf) format("truetype"),url(Casino_Hand/casino_hand-webfont.svg#casino_handregular) format("svg");font-weight:400;font-style:normal}.enjoyhint{position:fixed;width:100%;height:100%;top:0;left:0;z-index:1010;pointer-events:none;overflow:hidden}.enjoyhint_hide{display:none}.enjoyhint_disable_events{position:absolute;width:2000px;height:1500px;z-index:1011;pointer-events:all}.enjoyhint_next_btn,.enjoyhint_prev_btn,.enjoyhint_skip_btn{min-width:100px;-webkit-box-sizing:content-box;height:40px;font:normal normal normal 17px/40px "Advent Pro",Helvetica,sans-serif;cursor:pointer;margin:0 auto;letter-spacing:1px;text-align:center}.enjoyhint_next_btn,.enjoyhint_prev_btn{position:absolute;z-index:1012;pointer-events:all;-moz-box-sizing:content-box;box-sizing:content-box;border:2px solid #1ecd97;-webkit-border-radius:40px;border-radius:40px;color:#1ecd97;-o-text-overflow:clip;text-overflow:clip;background:rgba(0,0,0,0);-webkit-transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);-moz-transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);-o-transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0)}.enjoyhint_close_btn,.enjoyhint_skip_btn{z-index:1012;pointer-events:all;-moz-box-sizing:content-box;-o-text-overflow:clip;text-overflow:clip}.enjoyhint_prev_btn:hover{color:rgba(255,255,255,1);background:#1ecd97}.enjoyhint_prev_btn:active{border:2px solid rgba(33,224,163,1);background:rgba(33,224,163,1);-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none}.enjoyhint_next_btn:active,.enjoyhint_skip_btn:active{-webkit-transition:none;-moz-transition:none;-o-transition:none}.enjoyhint_next_btn:hover{color:rgba(255,255,255,1);background:#1ecd97}.enjoyhint_next_btn:active{border:2px solid rgba(33,224,163,1);background:rgba(33,224,163,1);transition:none}.enjoyhint_skip_btn{box-sizing:content-box;border:2px solid #1ecd97;-webkit-border-radius:40px;border-radius:40px;color:#1ecd97;background:rgba(0,0,0,0);-webkit-transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);-moz-transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);-o-transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0)}.enjoyhint_skip_btn:hover{color:rgba(255,255,255,1);background:#1ecd97}.enjoyhint_skip_btn:active{border:2px solid rgba(33,224,163,1);background:rgba(33,224,163,1);transition:none}.enjoyhint_close_btn{display:inline-block;position:absolute;-webkit-box-sizing:content-box;box-sizing:content-box;width:.3em;height:.3em;border:none;-webkit-border-radius:1em;border-radius:1em;font:400 8em/normal Arial,Helvetica,sans-serif;color:rgba(0,0,0,1);background:rgba(0,0,0,0);border:2px solid rgba(33,224,163,1)}.enjoyhint_close_btn::after,.enjoyhint_close_btn::before{display:inline-block;-moz-box-sizing:content-box;width:73%;height:2px;position:absolute;content:"";border:none;font:400 100%/normal Arial,Helvetica,sans-serif;color:rgba(0,0,0,1);background:#fff;text-shadow:none}.enjoyhint_close_btn::before{-webkit-box-sizing:content-box;box-sizing:content-box;top:48%;left:14%;-o-text-overflow:clip;text-overflow:clip;-webkit-transform:rotateZ(45deg);transform:rotateZ(45deg)}.enjoyhint_btn,.enjoyhint_close_btn::after{-webkit-box-sizing:content-box;-o-text-overflow:clip;text-overflow:clip}.enjoyhint_close_btn::after{box-sizing:content-box;top:46%;left:15%;-webkit-transform:rotateZ(-45deg);transform:rotateZ(-45deg)}.enjoyhint_close_btn:hover{color:rgba(255,255,255,1);background:#1ecd97;cursor:pointer}.enjoyhint_close_btn:active{border:2px solid rgba(33,224,163,1);background:rgba(33,224,163,1);-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none}.enjoyhint_btn{-moz-box-sizing:content-box;box-sizing:content-box;width:150px;height:40px;cursor:pointer;margin:0 auto;border:2px solid #1ecd97;-webkit-border-radius:40px;border-radius:40px;font:normal normal normal 17px/40px "Advent Pro",Helvetica,sans-serif;color:#1ecd97;text-align:center;letter-spacing:1px;background:rgba(0,0,0,0);-webkit-transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);-moz-transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);-o-transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0);transition:background-color .3s cubic-bezier(0,0,0,0),color .3s cubic-bezier(0,0,0,0),width .3s cubic-bezier(0,0,0,0),border-width .3s cubic-bezier(0,0,0,0),border-color .3s cubic-bezier(0,0,0,0)}#kinetic_container,.enjoyhint_canvas,.enjoyhint_svg_wrapper,.enjoyhint_svg_wrapper svg{width:100%;height:100%;position:absolute}.enjoyhint_btn:hover{color:rgba(255,255,255,1);background:#1ecd97}.enjoyhint_btn:active{border:2px solid rgba(33,224,163,1);background:rgba(33,224,163,1);-webkit-transition:none;-moz-transition:none;-o-transition:none;transition:none}.enjoyhint div.canvas-container{position:absolute}.enjoyhint_canvas{z-index:100;pointer-events:none}#kinetic_container{pointer-events:none;top:0;left:0}.enjoyhint_svg_wrapper{top:0;left:0;z-index:100;-webkit-transition:opacity .4s cubic-bezier(.42,0,.58,1);-moz-transition:opacity .4s cubic-bezier(.42,0,.58,1);transition:opacity .4s cubic-bezier(.42,0,.58,1)}.enjoyhint_svg_wrapper svg{top:0;left:0}.enjoyhint_svg_transparent .enjoy_hint_label,.enjoyhint_svg_transparent .enjoyhint_svg_wrapper{opacity:0}.enjoy_hint_label{position:absolute;overflow:hidden;color:#fff;z-index:107;font-size:22px;font-family:casino_handregular,Arial;-webkit-transition:opacity .4s cubic-bezier(.42,0,.58,1);-moz-transition:opacity .4s cubic-bezier(.42,0,.58,1);transition:opacity .4s cubic-bezier(.42,0,.58,1)}@media (max-width :640px){.enjoy_hint_label{font-size:16px}.enjoyhint_next_btn,.enjoyhint_prev_btn{font-size:200%;color:#FFF;line-height:1.2em;min-width:0;width:35px;height:35px;-webkit-border-radius:50%;border-radius:50%}.enjoyhint_skip_btn{display:none}}div.kineticjs-content{position:absolute!important}.enjoyhint_skip_btn{position:fixed}.enjoy_hint_label{display:inline-block;text-align:center;max-width:80%}