<!DOCTYPE html>
{% extends "base.html" %}
{% block local_js %}
{% load static %}
<script src="{% static 'js/magnify.js' %}"></script>
{% endblock %}
{% block right_header %}<a href="/spot"><em><a style="font-family: 'Righteous', cursive; color:rgb(0, 0, 0); padding-right: 5px;">spot-the-fly</a></em></a>{% endblock %}
{% block page_content %}
<script>
    $(document).ready(function() {
    	var song_title = document.getElementById('song_title');
		var parent = document.getElementById('parent');
		pan(song_title, parent, 3000)
        magnify("artwork", 3);
	});
</script>


<style>
	h6{
		display: inline-block;
		line-height: normal;
	}
	h5 {
  		transition-duration: 5s;
	}
    .song-link{
		text-decoration:none;
	}
    .img-magnifier-glass {
        position: absolute;
        border: 3px solid #000;
        border-radius: 50%;
        cursor: none;
        /*Set the size of the magnifier glass:*/
        width: 100px;
        height: 100px;
        z-index:1000;
    }
    .artwork-square{
        border-radius: 4px;
    }
</style>

<div id="parent" class = "container text-center form-width">
	<div style="visibility:hidden">
		<p style="margin-bottom:0; line-height:.5em;">Rendering</p>
	</div>
    
	<div style="position:relative">
        <i class="fa-solid fa-mosquito"></i>
		<img id = "blur" class="blurry artwork-square" src="{{artwork}}" alt=""/>
		<img id = "artwork" class="clear artwork-square" src="{{artwork}}" alt=""/>
	</div>
	<div class="pt-1">
		{% load static %}
		<img id = "logo" style='display:initial;' src="{% static 'images/Spotify_Icon_RGB_Green.png' %}" width="21" height="21" alt="...">
	</div>
	<div class="song-title">
		<h5 id="song_title" style="position:absolute;">{{song_title}}</h5>
		<h5 style="visibility:hidden;">Text to Set the Height of the Parent Div</h5>
	</div>
	<a id = "song_link" href ="{{song_link}}" style='position:relative; bottom: .5em; color:rgb({{color}});' class="song-link song-color"><h6 id = "song_artist">{{artist_name}}</h6></a>
</div>

{% endblock %}