<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
{% extends "base.html" %}
{% block page_content %}

	<script type="text/javascript">
		window.onload = function() {
			var x = document.getElementById("id_cat_choice").selectedIndex;
			var y = document.getElementById("id_cat_choice").options;		
			var z = y[x].text;
			var box = '';
			var label = '';
			var info = '';
			var radio0 = document.getElementById('radio0');
			var radio1 = document.getElementById('radio1');
			radio0.style.display = 'none';
			radio1.style.display = 'none';
			if (z == 'Custom'){
				box = '{{ form.custom }}';
				label = '{{ form.custom.label }}';
			}
			else if(z == 'Songs by this Artist'){
				box = '{{ form.artist }}';
				label = '{{ form.artist.label }}';
			}
			else if (z == 'Scattergories'){
				info = 'Songs where the Song or Artist name begins with a Randomly Generated Letter';
				radio0.style.display = 'initial';
				radio1.style.display = 'initial';
			}
			document.getElementById('info').innerHTML = info;
			document.getElementById('custom').innerHTML = box;
			document.getElementById('label').innerHTML = label;
		};
		$(document).ready(function() {
			$('#id_cat_choice').change(function() {
			var x = document.getElementById("id_cat_choice").selectedIndex;
			var y = document.getElementById("id_cat_choice").options;		
			var z = y[x].text;
			var box = '';
			var label = '';
			var info = '';
			var radio0 = document.getElementById('radio0');
			var radio1 = document.getElementById('radio1');
			radio0.style.display = 'none';
			radio1.style.display = 'none';

			if (z == 'Custom'){
				box = '{{ form.custom }}';
				label = '{{ form.custom.label }}';
			}
			else if(z == 'Songs by this Artist'){
				box = '{{ form.artist }}';
				label = '{{ form.artist.label }}';
			}
			else if (z == 'Scattergories'){
				info = 'Songs where the Song or Artist name begins with a Randomly Generated Letter';
				radio0.style.display = 'initial';
				radio1.style.display = 'initial';
			}
			document.getElementById('custom').innerHTML = box;
			document.getElementById('label').innerHTML = label;
			document.getElementById('info').innerHTML = info;
			})
		});
	</script>

	<div class = "container" style="width:90%">
		<form action="" method="post">
			{% csrf_token %}

			<div class="row">
				<h6>{{ form.cat_choice.label }}</h6>			
				{{ form.cat_choice }}
				<small class="form-text text-muted" id=info></small>
			</div>

			<div class="row">
				<div id="radio0">{{ form.scatt_radio.0 }}</div>
				<div class = "pl-4" id="radio1">{{ form.scatt_radio.1 }}</div>			
			</div> 

			<div class="row">
				<h6 class="pt-2" id="label"></h6>
			</div>

			<div class="row" id="custom"> 
			</div>

			<div class = "pt-2 pb-2 text-right">
				<input type="submit" class="btn btn-outline-primary" name="back" value="Back"></input>
				<input type="submit" class="btn btn-outline-primary" value="Submit"></input>
			</div>
				
			{% if invalid %}
			<div class=" row alert alert-info">
				select a vibe before submitting
			</div>
			{% endif %}

		</form>	
	</div>
{% endblock %}
