<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}
<html lang="en">
	<div class = "container">
		<div>
			
			<h2><small>Welcome to </small><span class="badge badge-pill badge-primary">{{party.name}}</span></h2>
			
		</div>
		
		<div class = "row">
			<div class = "col">
				<h4> </h4>
			</div>
			
		</div>
		
		<div class = "row">
			
			<div class = "col">
				{% for q in guests %}
				
				
				<h5><span class="badge badge-pill badge-light">{{ q.name }}</span></h5>

				{% endfor %}
			</div>
			

		</div>	
		
		<div class = "row">

			<div class = "col text-right">
				<form action="" method="post">
					{% csrf_token %}
					{% if access %}
						<input type="submit" class="btn btn-outline-primary btn-lg" value="Let's Go">
					{% endif %}
				</form>
			</div>
			

		</div>
		<div class = "row">
			<div class = "col text-center">
				<h1> </h1>
			</div>

		</div>
		<div class = "row">
			<div class = "col text-center">
				
			</div>

		</div>
		
		<div class = "row">

			<div class = "col text-center">
				<h1 class = "display-3"><span class="badge badge-secondary">{{party.joinCode}}</span></h1>
				<h6>This Is Your Room Code</h6>
			</div>		

		</div>
	</div>
</html>
{% endblock %}
