<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}

	<script>
		var size = {{size}};
		setInterval(function () {
			$.ajax({
				url: '/sesh/update_lobby',
				data: {
					'pid': {{ party.pk }}
				},
				dataType: 'json',
				success: function (data) {
					if (data.size != size || data.started || !data.inactive) {
						location.reload();
					}
				}
			});
		}, 5000);
			
	</script>
	
	<div class = "container">	
		<h2><span class="badge badge-pill badge-primary">{{party.name}}</span></h2>
		
		<div class = "row">
			<div class = "col">
				{% for q in guests %}
				<h5><span class="badge badge-pill badge-light">{{ q.name }}</span></h5>
				{% endfor %}
			</div>
		</div>	
		
		<div class = "row">
			<div class = "col text-right">
				<form action="" method="post">
					{% csrf_token %}
					<button class="btn text-white bg-primary btn-lg" name = "code">QR <i class="fa fa-qrcode"></i></button>
					{% if access %}
						<input type="submit" class="btn btn-outline-primary btn-lg" value="Let's Go">
					{% endif %}
				</form>
			</div>
		</div>
	
		<div class = "row">
			<div class = "col text-center">
				<h1 class = "display-3"><span class="badge badge-secondary">{{party.joinCode}}</span></h1>
				<h6>This Is Your Room Code</h6>
			</div>		
		</div>
	</div>
{% endblock %}
