<style>
	p {
		text-overflow: ellipsis;
		max-width: 220px;
		white-space: nowrap;
		overflow: hidden;
		margin-bottom: -10px !important;
	}
</style>

{% extends "base.html" %}

{% block page_content %}
<script type="text/javascript">
	$(document).ready(function() {
		var search = document.getElementById("id_search");
		search.autocomplete="off";
		search.addEventListener("input", update_search);
		search.addEventListener("focusin", moveSearchUp);
		var arrow = document.getElementById("arrow");
		arrow.addEventListener("click", moveSearchDown);
		var searchIcon = document.getElementById("search icon");
		searchIcon.addEventListener("click", moveSearchUp);
	});
	function moveSearchUp(e){
		document.getElementById("id_search").style.display = 'block';
		document.getElementById("header").style.display = 'none';
		var category = document.getElementById("category");
		category.style.display = 'block';
		category.classList.remove("text-center");
		document.getElementById("artwork_div").style.display = 'none';
		document.getElementById("title_div").style.display = 'none';
		document.getElementById("search icon").style.display = 'none';
		document.getElementById("buttons").style.display = 'none';
		document.getElementById("arrow").style.display = 'block';
		document.getElementById("results").style.display = '';
	}
	function moveSearchDown(){
		document.getElementById("header").style.display = 'block';
		var category = document.getElementById("category")
		category.style.display = 'block';
		if(document.getElementById('artwork').src != ""){
			document.getElementById("artwork_div").style.display = 'block';
		}
		else{
			document.getElementById("artwork_div").style.display = 'none';
		}
		document.getElementById("title_div").style.display = 'block';
		document.getElementById("buttons").style.display = 'block';
		document.getElementById("arrow").style.display = 'none';
		document.getElementById("results").style.display = 'none';
		var search = document.getElementById("id_search");
		search.value = '';
		var result = document.getElementById("id_result");
		if (result.value != -1){
			search.style.display = 'none';
			document.getElementById("search icon").style.display = 'block';
			category.classList.add("text-center");
		}
	}
	function update_search(e){
		clearTimeout(this.delay);
		this.delay = setTimeout(function(){
			if (e.target.value != ''){
				var result = document.getElementById("id_result");
				$.ajax({
					url: '/sesh/update_search',
					data: {
					'pid': {{ party.pk }},
					'text': e.target.value,
					'result': result.value,
					},
					dataType: 'json',
					success: function (data) {
						populateOptions(data.song_list);
				} });
			}
		}, 300);
	}
	function populateOptions(song_list){
		var results = document.getElementById("results");
		results.innerHTML = "";
		for(var i=0; i<song_list.length; i++){
			var option = document.createElement('div');
			option.classList.add('row','option-padding');
			option.id = song_list[i].id;
			var wrapper = document.createElement('div');
			option.appendChild(wrapper);
			
			var art = document.createElement('img');
			art.src = song_list[i].album_art;
			art.alt = song_list[i].track_name + ', ' + song_list[i].artist;
			art.classList.add('artwork', 'img-thumbnail');
			
			wrapper.appendChild(art);
			
			var text = document.createElement('div');
			text.classList.add('col','info');
			
			var title = document.createElement('p');
			title.innerHTML = song_list[i].track_name;
			
			text.appendChild(title);
			
			var artist = document.createElement('small');
			artist.innerHTML = song_list[i].artist;
			artist.classList.add('text-muted');
			
			text.appendChild(artist);
			wrapper.appendChild(text);
			results.appendChild(option);
			option.addEventListener("click", getOption);
		}
	}
	function getOption(e){
		var parent;
		if (e.target.parentElement.id != ""){
			parent=e.target.parentElement;
		}
		else{
			parent=e.target.parentElement.parentElement;
		}
		if (parent.id == 'results' || parent.id == ""){
			return;
		}
		var art = parent.getElementsByClassName("artwork")[0];
		var artwork = document.getElementById("artwork");
		var blur = document.getElementById("blur");
		var result = document.getElementById("id_result");
		var songTitle = document.getElementById("song_title");
		var titleDiv = document.getElementById("title_div");
		artwork.src= art.src;
		blur.src = art.src;
		result.value = parent.id;
		songTitle.innerHTML = art.alt;
		titleDiv.style.display = "block";
		var submit = document.getElementById("add to queue");
		submit.style.display = "inline";
		var searchIcon = document.getElementById("search icon");
		searchIcon.style.display = "block";
		var search = document.getElementById("id_search");
		search.style.display = "none";
		var category = document.getElementById("category");
		category.classList.add("text-center");
		moveSearchDown();
		
	}
</script>

<div class = "container form-width">
	<div id = "labels">
		<div id="header" class = "text-center" style="margin-bottom: 0px;">
			<h6>...and the vibe is:</h6>
		</div>
		<div id="category" class ="pt-1 category-name">
			<h5>{{category.name}}</h5>
		</div>
		<div id="artwork_div" class= "text-center" style="display:none">
			<img id = "blur" class="blurry artwork-square" alt=""/>
			<img id = "artwork" class="clear artwork-square" height="80%" alt=""/>
		</div>
		<div id="title_div" class="song-title" style="display:none;" >
			<h5 id="song_title" style="position:absolute;"></h5>
		</div>
		<span id="search icon" class="text-center pt-1 pb-2" style="display:none;"><em class="fa fa-search"></em></span>
	</div>	
	<form action="" method="post">
		{% csrf_token %}
		<div class="buttonIn">
			<h6>{{ form.search }}</h6>
			<span id="arrow" class="arrow" style="display:none; margin-top:5px;"><em class="fa fa-arrow-left"></em></span>
		</div>
		<div id="results" class="results"></div>
		<div style="display:none;">{{ form.result }}</div>
		<div id="buttons" class = "text-end pb-2">
			<a href="{% url 'play' pid=party.pk %}" id="play" class="btn btn-outline-primary">Back</a>
			<input type="submit" class="btn btn-outline-primary" id="add to queue" value="Add to Queue" style="display:none;">
		</div>			
		{% if invalid %}
		<div class="alert alert-info">
			Enter a Song or Artist to Search
		</div>
		{% endif %}
	</form>	
</div>
{% endblock %}



