<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}
	<div class = "container">
		<div class = "text-center">
			<h6>...and the category is:</h6>
		</div>
		<div class ="pt-2">
			<h6>{{category.name}}</h6>
		</div>
		<form action="" method="post">
			{% csrf_token %}
			<h6>{{ form.search }}</h6>
			<div class = "text-right pb-2">
				<input type="submit" class="btn btn-outline-primary" name="back" value="Back"></input>
				<input type="submit" class="btn btn-outline-primary" value="Search">
			</div>			
			{% if invalid %}
			<div class="alert alert-info">
				Enter a Song or Artist to Search
			</div>
			{% endif %}
		</form>	
	</div>
{% endblock %}
