<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}
<html lang="en">
	<div class = "container">
		<div class ="">
			<div class = "text-center">
			<h6>...and the category is:</h6>
			</div>
			<div class ="pt-2">
			<h5>{{category.name}}</h5>
			</div>
			<form action="" method="post">

				{% csrf_token %}
				<table>
					<tbody>
						<tr>
							<td>
							<h6>{{ form.search }}</h6>
							</td>

						</tr>
						<tr>
						
							<td>
								<h6><small>Search by:</small> {{ form.choice_field.0 }}     {{ form.choice_field.1 }}</h6>
							</td>
							
							<td>

							</td>
						
						</tr>

						<tr>
							<td>
								<div class = "text-right">
									<input type="submit" class="btn btn-outline-primary btn" value="Search">
								</div>
							</td>
						<tr>
						
						{% if invalid %}
							<div class="alert alert-info">
								enter a track or artist
							</div>
							
						{% endif %}
						
					</tbody>
				</table>
				
			</form>
		</div>	
	</div>
</html>
{% endblock %}
