<!DOCTYPE html>
{% extends "base.html" %}
{% block page_content %}


	<style>

		.categories{
			display: inline-flex;
			flex-wrap: wrap;
			justify-content: center;
		}
		
		/* CARDS */

		.cards {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.card1 {
			margin-right: 1em;
			margin-top: 1em;
			margin-bottom: 1em;
			padding: .25em;
			width: auto;
			height: auto;
			display: grid;
			transition: all 0.2s;
			box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
			border-radius: 5px;
		}

		.card1:hover {
			box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
			transform: scale(1.01);
		}

		.card1__title {
			font-weight: 400;
			color: black;
			margin: .25em;
		}

		.modal-body{
			margin: 1em;
			background-color: white;
			border-radius: 5px;
		}
	</style>

	<script type="text/javascript">
		var COLORS = ['#ff7eb9', '#ff65a3', '#7afcff', '#feff9c', '#fff740'];
		var COLORS2 = ['#D9D9D9', '#667799', '#0D99FF', '#9747FF',
		'#FF24BD', '#F24822', '#FFA629','#FFCD29', '#14AE5C', '#00A1C2'];
		var cats = {{ cats|safe }};
		window.onload = function() {
			populateCats(cats);
		}

		$(document).ready(function() {
				var search = document.getElementById("id_search");
				search.autocomplete="off";
				search.addEventListener("input", update_categories);
		});

		function update_categories(e){
			clearTimeout(this.delay);
			this.delay = setTimeout(function(){
				console.log("input: " + e.target.value);
				if (e.target.value != ''){
					$.ajax({
						url: '/sesh/update_categories',
						data: {
						'pid': {{ party.pk }},
						'text': e.target.value,
						},
						dataType: 'json',
						success: function (data) {
							populateCats(data.cats);
					} });
				}
				else{
					populateCats(cats);
				}
			}, 300);
		}

		function populateCats(cats){
			var categories = document.getElementById("categories");
			categories.innerHTML = "";
			for(var i=0; i<cats.length;i++){
				var card = document.createElement('div');
				card.classList.add('card1', 'text-center');
				//card.style.marginLeft = Math.floor(Math.random() * 50) + "px";
				card.style.backgroundColor = COLORS[Math.floor(Math.random() * 5)];
				card.id = cats[i].id;
				var name = document.createElement('h6');
				name.classList.add('card1__title');
				name.innerHTML = cats[i].name;
				name.setAttribute('data-description', cats[i].description)
				card.appendChild(name);
				card.addEventListener("click", setForm);
				categories.appendChild(card);
			}
		}

		function setForm(e){
			var id = -1;
			var name = "";
			var description = "";
			var color = "";
			if(e.target.id){
				id = e.target.id;
				name = e.target.firstChild.innerHTML;
				description = e.target.firstChild.dataset.description;
				color = e.target.style.backgroundColor;
			}
			else{
				id = e.target.parentElement.id;
				name = e.target.innerHTML;  
				description = e.target.dataset.description;
				color = e.target.parentElement.style.backgroundColor;
			}
			var modal = document.getElementById('form_content');
			modal.style.backgroundColor = color;
			var result = document.getElementById("id_result");
			result.value = id;
			var form_name = document.getElementById("form_name");
			form_name.innerHTML = name;
			var form_description = document.getElementById("form_description");
			form_description.innerHTML = description;
			var form_custom = document.getElementById("form_custom");
			var form_custom_name = document.getElementById("id_custom");
			var form_custom_desc = document.getElementById("id_custom_desc");
			var form_artist = document.getElementById("form_artist");
			var form_artist_input = document.getElementById("id_artist");
			if(name == "Create Your Own"){
				form_description.style.display = "none";
				form_custom.style.display = "block";
				form_custom_name.value = document.getElementById("id_search").value;
				form_artist.style.display = "none";
				form_artist_input.value = "";
			}
			else if(name == "Songs by this Artist"){
				form_description.style.display = "block";
				form_custom.style.display = "none";
				form_custom_name.value = "";
				form_custom_desc.value ="";
				form_artist.style.display = "block";
			}
			else{
				form_description.style.display = "block";
				form_custom.style.display = "none";
				form_custom_name.value = "";
				form_custom_desc.value ="";
				form_artist.style.display = "none";
				form_artist_input.value = "";
			}
			$('#form_modal').modal('show');
		}
	</script>

	<div class = "container form-width ps-3 pe-3" >
		<div id="header" class = "text-center card1" style="margin-bottom: 0px;">
			<h5>Curate the Vibe</h5>
		</div>
		<div class="buttonIn" style="display:none;">
			<h6 id="search">{{ form.search }}</h6>
		</div>
		<div id="categories" class="categories"></div>
	</div>

	<div class="modal fade" id="form_modal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content" id="form_content">
				<form action="" method="post">
					{% csrf_token %}
				<div id="form_body" class="modal-body text-left">
					<h4 id="form_name"></h4>
					<small id="form_description" class="text-muted"></small>
					<div id="form_custom" style="display:none;">
						<div id="form_custom_name" class="pb-2">{{ form.custom }}</div>
						<div id="form_custom_desc" style="display: none;">{{ form.custom_desc }}</div>
					</div>
					<div id="form_artist" class="pt-2" style="display:none;">{{ form.artist }}</div>
					<p style="display:none;">{{ form.result }}</p>
					<input type="submit" class="btn btn-dark btn-lg block text-primary button-black" style="margin-top:.5em" value="let's go with this one"></input>
				</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}