<!DOCTYPE html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<style>
	.buttonIn {
		position: relative;
	}
	.bar {
		margin: 0px;
		padding: 0px;
		width: 100%;
		outline: none;
		height: 30px;
		border-radius: 5px;
	}
	.arrow {
		position: absolute;
		top: 15%;
		right: 3%;
		z-index: 0px;
		cursor: pointer;
		transform: translateX(0px);
		color: rgb(167, 167, 167);
	}
	.artwork {
		width:50px;
		height:50px;
	}
	.info {
		padding-top: 8px;
	}
	.option-padding {
		padding: 3px 0px;
	}
	.results {
		padding-left: 15px;
		padding-right: 15px;
	}
	p {
		text-overflow: ellipsis;
		max-width: 220px;
		white-space: nowrap;
		overflow: hidden;
		margin-bottom: -10px !important;
	}
</style>

{% extends "base.html" %}

{% block page_content %}
<script type="text/javascript">
	$(document).ready(function() {
		var search = document.getElementById("id_search");
		search.autocomplete="off";
		search.addEventListener("input", update_search);
		search.addEventListener("focusin", moveSearchUp);
		var arrow = document.getElementById("arrow");
		arrow.addEventListener("click", moveSearchDown);
		var searchIcon = document.getElementById("search icon");
		searchIcon.addEventListener("click", moveSearchUp);
	});
	function moveSearchUp(e){
		document.getElementById("id_search").style.display = 'block';
		document.getElementById("labels").style.display = 'none';
		document.getElementById("buttons").style.display = 'none';
		document.getElementById("arrow").style.display = 'block';
	}
	function moveSearchDown(){
		document.getElementById("labels").style.display = 'block';
		document.getElementById("buttons").style.display = 'block';
		document.getElementById("arrow").style.display = 'none';
		document.getElementById("results").innerHTML = '';
		var search = document.getElementById("id_search");
		search.value = '';
		var result = document.getElementById("id_result");
		if (result.value != -1){
			search.style.display = 'none';
		}
	}
	function update_search(e){
		if (e.target.value != ''){
			var result = document.getElementById("id_result");
			var artwork = document.getElementById("artwork");
			$.ajax({
				url: '/sesh/update_search',
				data: {
				'pid': {{ party.pk }},
				'text': e.target.value,
				'result': result.value,
				},
				dataType: 'json',
				success: function (data) {
					populateOptions(data.song_list);
			} });
		}
	}
	function populateOptions(song_list){
		var results = document.getElementById("results");
		results.innerHTML = "";
		for(var i=0; i<song_list.length; i++){
			var option = document.createElement('div');
			option.classList.add('row','option-padding');
			option.id = song_list[i].id;
			
			var art = document.createElement('img');
			art.src = song_list[i].album_art;
			art.alt = song_list[i].track_name + ', ' + song_list[i].artist;
			art.classList.add('artwork', 'img-thumbnail');
			
			option.appendChild(art);
			
			var text = document.createElement('div');
			text.classList.add('col','info');
			
			var title = document.createElement('p');
			title.innerHTML = song_list[i].track_name;
			
			text.appendChild(title);
			
			var artist = document.createElement('small');
			artist.innerHTML = song_list[i].artist;
			artist.classList.add('muted');
			
			text.appendChild(artist);
			option.appendChild(text);
			results.appendChild(option);
			option.addEventListener("click", getOption);
		}
	}
	function getOption(e){
		var parent;
		if (e.target.parentElement.id != ""){
			parent=e.target.parentElement;
		}
		else{
			parent=e.target.parentElement.parentElement;
		}
		if (parent.id == 'results' || parent.id == ""){
			return;
		}
		var art = parent.getElementsByClassName("artwork")[0];
		var artwork = document.getElementById("artwork");
		var result = document.getElementById("id_result");
		var title = document.getElementById("title");
		artwork.innerHTML = '<img src="'+ art.src + '" class="img-thumbnail" width="200" height="200" alt="...">';
		result.value = parent.id;
		title.innerHTML = art.alt;
		title.style.display = "block";
		var submit = document.getElementById("add to queue");
		submit.style.display = "inline";
		var searchIcon = document.getElementById("search icon");
		searchIcon.style.display = "block";
		var search = document.getElementById("id_search");
		search.style.display = "none";
		var category = document.getElementById("category");
		category.classList.add("text-center");
		moveSearchDown();
		
	}
</script>
	<div class = "container">
		<div id = "labels">
			<div class = "text-center">
				<h6>...and the vibe is:</h6>
			</div>
			<div id="category" class ="pt-2">
				<h6>{{category.name}}</h6>
			</div>
			<div id="artwork", class ="pt-1 pb-2 text-center">
			</div>
			<h6 id="title" style="display:none;" class="text-center"></h6>
			<span id="search icon" class="text-center pt-1 pb-2" style="display:none;"><em class="fa fa-search"></em></span>
		</div>	
		<form action="" method="post">
			{% csrf_token %}
			<div class="buttonIn">
				<h6>{{ form.search }}</h6>
				<span id="arrow" class="arrow" style="display:none;"><em class="fa fa-arrow-left"></em></span>
			</div>
			<div id="results" class="results"></div>
			<div style="display:none;">{{ form.result }}</div>
			<div id="buttons" class = "text-right pb-2">
				<a href="{% url 'play' pid=party.pk %}" id="play" class="btn btn-outline-primary">Back</a>
				<input type="submit" class="btn btn-outline-primary" id="add to queue" value="Add to Queue" style="display:none;">
			</div>			
			{% if invalid %}
			<div class="alert alert-info">
				Enter a Song or Artist to Search
			</div>
			{% endif %}
		</form>	
	</div>
{% endblock %}



