<!DOCTYPE html>

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>

{% extends "base.html" %}
{% block page_content %}	
<meta name="refresh" http-equiv="refresh" content="{{ user.refreshRate }}"/>
	
	<div class = "container text-center">
		{% if party.device_error and user.isHost %}
		<div class="alert alert-danger">
			Playback Device is No Longer Active, Reopen Device or Click <a href="{%url 'settings' party.id %}">Here</a> to Change Device 
		</div>
		{% endif %}
		{% if song.art != "lull" %}
			<h5>{{category.name}}</h5>
			<h6>{{category.leader}}'s Category</h6>
			{% if song.art == 'duplicate' %}
				{% load static %}
				<img src="{% static 'images/quesome.png' %}" class="img-thumbnail" width="200" height="200" alt="...">
			{% else %}
			<img src={{song.art}} class="img-thumbnail" width="200" height="200" alt="...">
			{% endif %}
			<div class = "pt-1">
				{% load static %}
				<img src="{% static 'images/Spotify_Icon_RGB_Green.png' %}" width="21" height="21" alt="...">
				<a href={{song.link}}><h6>{{song.name}}</h6></a>
			</div>
		{% else %}
			<h5>{{category.name}}</h5>
			<h6>{{party.name}}</h6>
			{% load static %}
			<img src="{% static 'images/queue_it_to_it_brah.png' %}" class="img-thumbnail" width="200" height="200"  alt="" />
			<div class = "pt-1">
				{% if party.state == "pick_song" %}
					<h6> Someone Needs to Pick a Song</h6>
				{% else %}
					<h6>Someone Needs to Choose a Category</h6>
				{% endif %}
			</div>
		{% endif %}
		
	
		<form action="" method="post">
			{% csrf_token %}
			<div class = "row">
				<div class = "col text-center pb-2">
					{% if user.turn == "picking" and party.state == "choose_category" %}
						
						<input type="submit" class="btn btn-outline-primary" value="Choose Category">
						
					{% elif party.state == "pick_song" and not user.hasPicked %}
						
						<input type="submit" class="btn btn-outline-primary" value="Pick Song">
						
					{% endif %}
					
					
					{% if not user.hasLiked and song.art != "lull" and song.user != user %}
					<button class="btn btn-outline-primary" name = "like"><i class="fa fa-thumbs-o-up"></i></button>
					<button class="btn btn-outline-primary" name = "dislike"><i class="fa fa-thumbs-o-down"></i></button>
					{% endif %}
				</div>
			</div>

			<nav class="navbar fixed-bottom navbar-dark bg-primary">
				{% if user.isHost %}
				<button class="btn text-white bg-primary navbar-btn" name = "settings"> <i class="fa fa-cog"></i></button>
				{% endif %}
				<button class="btn text-white bg-primary navbar-btn" name = "users"> <i class="fa fa-users"></i></button>
				<!--<button class="btn text-white bg-primary navbar-btn" name = "settings" disabled> <i class="fa fa-cog"></i></button>-->
				
				<div class=" pl-5 text-white text-center">
					<b>{{party.joinCode}}</b>
				</div>	
				
				<button class="btn text-white bg-primary navbar-btn" name = "results">Results <i class="fa fa-bar-chart"></i></button>
			</nav>
		</form>
	</div>
{% endblock %}
