<!DOCTYPE html>

{% extends "base.html" %}
{% block settings %}

<script>
	if('{{user.isHost}}' == 'True'){
		$(document).ready(function() {
			setDeviceIcon('{{device.active}}'=='True','{{device.type}}', '{{device.name}}');
		});
		var inactivity = false;

		setInterval(function () {
			if (!inactivity){
				$.ajax({
					url: '/party/update_set_device',
					data: {
					'pid': {{ party.pk }}
					},
					dataType: 'json',
					success: function (data) {
						setDeviceIcon(data.device.active, data.device.type, data.device.name)
						inactivity = data.stop;
					}
				});
			}
		}, 1000);
	}
</script>

<a href="{% url 'settings' pid=party.id %}" id="settings" style="display:None;"> <em id=device class="device"></em></a>
{% endblock %}

{% block page_content %}

<style>
	.btn-outline-primary:hover{
    	color: #007bff;
    	background-color: inherit;
	}
	h6{
		display: inline-block;
		line-height: normal;
	}
	h5 {
  		transition-duration: 5s;
	}
</style>

<script type="text/javascript">
	var refresh_rate = 100;//{{user.refreshRate}} * 1000;
	var party = {
		"device_error" : "{{party.device_error}}",
		"name" : "{{party.name}}",
		"state": "{{party.state}}",
		"joinCode" : "{{party.joinCode}}",
	}
	var user = {
		"isHost":"{{ user.isHost }}",
		"hasPicked": "{{user.hasPicked}}",
		"turn": "{{user.turn}}",
		"hasLiked": "{{user.hasLiked}}",
		"hasDislike": "{{user.hasSkip}}",
		"user": "{{user.pk}}",
		"name": "{{user.name}}"
	}
	var category = {
		"name": "{{category.name}}",
		"leader": "{{category.leader.name}}",
		"full": "{{ full }}",
	}
	var song = {
		"name": "{{song.name}}",
		"title": "{{song.title}}",
		"artist": "{{song.artist}}",
		"link": "{{song.link}}",
		"user": "{{song.user.pk}}",
		"art": "{{song.art}}",
		"color": "{{song.color}}"
	}
	var results = {{ results|safe }};
	var totals = {{ totals|safe }};

	window.onload = function() {
		updatePage(party, user, category, song, results, totals, onLoad=true);
	};
	setInterval(function () {
		$.ajax({
			url: '/sesh/update_play',
			data: {
			'pid': {{ party.pk }}
			},
			dataType: 'json',
			success: function (data) {
				updatePage(data.party, data.user, data.category, data.song, data.results, data.totals);			
		} });
	}, refresh_rate);

	$(document).ready(function() {
		var like = document.getElementById("like");
		like.addEventListener("click", likeSong);
		var dislike = document.getElementById("dislike");
		dislike.addEventListener("click", likeSong);
		var results = document.getElementById('results_title');
		results.addEventListener("click", setTab);
		var total = document.getElementById('total_title');
		total.addEventListener("click", setTab);
		var song_title = document.getElementById('song_title');
		pan(song_title);
	});

	function updatePage(party, user, category, song, results, totals, onLoad=false){
		var redraw = false;
		var inactive = decodeBool(party.inactive);
		if (inactive){
			window.location.replace('/index');
		}
		var device_error = document.getElementById('device_error');
		var isError = decodeBool(party.device_error);
		var isHost = decodeBool(user.isHost);
		if (isError && isHost){
			device_error.style.display = 'block';			
		}
		else {
			device_error.style.display = 'none';
		}
		var category_name = document.getElementById('category_name');
		var category_leader = document.getElementById('category_leader');
		var blur = document.getElementById('blur');
		var artwork = document.getElementById('artwork');
		var logo = document.getElementById('logo');
		var logo_placeholder = document.getElementById('logo_placeholder');
		var song_title = document.getElementById('song_title');
		var song_link = document.getElementById('song_link');
		var song_artist = document.getElementById('song_artist');
		
		if (category_name.innerHTML != category.name){
			category_name.innerHTML = category.name;
			setWidth(category_name);
			redraw = true;
		}
		
		if (song.art != "lull"){
			if(category_leader.innerHTML != category.leader+"'s Vibe"){
				category_leader.innerHTML=category.leader+"'s Vibe";
				redraw = true;
			}
			if (logo.style.display != 'initial'){
				logo.style.display = 'initial';
				logo_placeholder.style.display='none';
			}
			if(song_title.innerHTML != song.title){
				song_title.innerHTML = song.title;
				setWidth(song_title);
				redraw = true;
			}
			song_link.href=song.link;
			song_link.style.visibility='initial';
			song_artist.innerHTML = song.artist;

			if(song.art == 'duplicate'){
				{% load static %}
				if(artwork.src != "{% static 'images/twosome.png' %}"){
					artwork.src = "{% static 'images/twosome.png' %}";
					blur.src = "{% static 'images/twosome.png' %}";
					redraw = true;
				}
			}
			else{
				if(artwork.src != song.art){
					artwork.src = song.art;
					blur.src = song.art;
					redraw = true;
				}
			}
		}
		else{
			category_leader.innerHTML=party.name;
			if(logo.style.display != 'none'){
				logo.style.display='none';
				logo_placeholder.style.display='initial';
			}
			song_link.removeAttribute("href");
			song_artist.innerHTML = '';
			song_link.style.visibility='hidden';
			{% load static %}
			artwork.src = "{% static 'images/queue_it_to_it_brah.png' %}";
			blur.src = "{% static 'images/queue_it_to_it_brah.png' %}";
			
			if(party.state == 'pick_song'){
				if(song_title.innerHTML != "Someone Needs to Pick a Song"){
					song_title.innerHTML="Someone Needs to Pick a Song";
					setWidth(song_title);
					redraw = true;
				}
			}
			else{
				if(song_title.innerHTML !="Someone Needs to Curate the Vibe"){
					song_title.innerHTML="Someone Needs to Curate the Vibe";
					setWidth(song_title);
					redraw = true;
				}
			}
		}
		var action = document.getElementById('action');
		var hasPicked = decodeBool(user.hasPicked)
		var full = decodeBool(category.full);
		if (user.turn == "picking" && party.state == "choose_category"){
			action.innerHTML = "Curate the Vibe";
			action.style.display = '';
			action.href = "{% url 'choose_category' pid=party.id %}" 
		}
		else if(party.state == "pick_song" && !hasPicked && !full){
			action.innerHTML = "Pick a Song";
			action.style.display = '';
			action.href = "{% url 'pick_song' pid=party.id %}" 
		}
		else{
			action.style.display = 'none';
		}

		if(onLoad){
			var like = document.getElementById('like');
			var dislike = document.getElementById('dislike');
			var hasLiked = decodeBool(user.hasLiked)
			var hasDislike = decodeBool(user.hasDislike)
			if (song.art != "lull" && song.user != user.user){
				like.style.display = 'initial';
				if(hasLiked){
					like.classList.remove('fa-regular');
					like.classList.add('fa-solid');
				}
				else{
					like.classList.remove('fa-solid');
					like.classList.add('fa-regular');
				}
				dislike.style.display = 'initial';
				if(hasDislike){
					like.classList.remove('fa-regular');
					like.classList.add('fa-solid');
				}
				else{
					like.classList.remove('fa-solid');
					like.classList.add('fa-regular');
				}
			}
			//else{
			//	like.style.display = 'none';
			//	dislike.style.display = 'none';
			//}
		}

		var party_code = document.getElementById('party_code');
		party_code.innerHTML = party.joinCode;

		var settings = document.getElementById('settings');
		if(isHost){
			settings.style.display = 'initial';
		}
		else{
			settings.style.display = 'none';
		}
		
		var results_header = document.getElementById('results_header');
		results_header.innerHTML = results[0].category_result;
		if (results[0].category_result != "No Results Yet"){
			var total_body = document.getElementById('total_contents');
			total_body.innerHTML = "";	
			var results_body = document.getElementById('results_contents');
			results_body.innerHTML = '';
			var row = document.createElement('row');
			for(var i=0; i<results.length; i++){
				var item = document.createElement('div');
				item.classList.add("pb-2", "item", "text-center"); 
				
				var img_badge = document.createElement('div');
				img_badge.classList.add("img-badge");

				var badge = document.createElement('span');
				if (results[i].like_result != 0){
					badge.classList.add("notify-badge");
					badge.innerHTML = results[i].like_result;
					img_badge.appendChild(badge);
				}
				var art_result = document.createElement('img');
				art_result.src=results[i].art_result;
				art_result.classList.add("art","img-thumbnail");
				art_result.title=results[i].user_result;
				img_badge.appendChild(art_result);
				item.appendChild(img_badge);

				var song_name = document.createElement('p');
				song_name.innerHTML = results[i].song_result;
				song_name.classList.add('results-song');
				item.appendChild(song_name);

				var user = document.createElement('p');
				user.innerHTML = results[i].user_result + "'s Pick";
				user.classList.add('results-user', 'text-end');
				item.appendChild(user);
						
				row.appendChild(item);
			}
			results_body.appendChild(row);

			for(var i=0; i<totals.length; i++){
				//add row to total table
				var total = document.createElement('tr');
				var total_name = document.createElement('td');
				total_name.innerHTML = totals[i].user_total;
				var total_likes = document.createElement('td');
				total_likes.innerHTML = totals[i].points_total;
				total.append(total_name, total_likes);
				total_body.append(total);
			}	
		}

		if(updateColor('song-color', 'rgb('+ song.color + ')')){
			redraw = true;
		}

		//Force Redraw
		if(redraw){
			var parent = document.getElementById('parent');
			forceRedraw(parent);
		}
	};

	function forceRedraw(element){
		if (!element) { return; }

		var n = document.createTextNode(' ');
		var disp = element.style.display;  // don't worry about previous display style

		element.appendChild(n);
		element.style.display = 'none';

		setTimeout(function(){
			element.style.display = disp;
			n.parentNode.removeChild(n);
		},1);
	}

	function refreshElement(element){
		element.style.border = 'dotted 0px transparent';
		setTimeout(function(){
			element.style.border = 'solid 0px transparent';
		},1);

	}

	function updateColor(name, color) {
		var update = false;
		var cols = document.getElementsByClassName(name);
		for(i = 0; i < cols.length; i++) {
			if(cols[i].style.color != color){
				cols[i].style.color = color;
				update = true;
			}
		}
		return update;
	}

	function likeSong(e){
		var like = true;
		var button = e.target;
		var other;
		if(button.id == ""){
			button = button.parentElement;
		}
		console.log(button.id);
		if (button.id.indexOf('dislike') > -1){
			button = document.getElementById('dislike_icon');	
			other = document.getElementById('like_icon');
		}
		else{
			button = document.getElementById('like_icon');	
			other = document.getElementById('dislike_icon');
		}
		other.classList.remove('fa-solid');
		other.classList.add('fa-regular');

		var isActive = button.classList.contains('fa-solid');
		if ((button.id == 'like' && isActive) ||
			(button.id == 'dislike' && !isActive)){
			like = false;
		}
		if (isActive){
			button.classList.remove('fa-solid');
			button.classList.add('fa-regular');
		}
		else{
			button.classList.remove('fa-regular');
			button.classList.add('fa-solid');
		}
		$.ajax({
			url: '/sesh/update_like',
			data: {
				'pid': {{ party.pk }},
				'like': like,
				'action': button.id,
			},
			dataType: 'json',
			success: function (data) {
		} });
	}

	function setTab(e){
		var tab = e.target;
		var results = document.getElementById('results_body');
		var total = document.getElementById('total_body');
		var other;
		var show = "inline-block";
		var hide = "none";

		if (tab.id == "results_title"){
			results.style.display = show;
			total.style.display = hide;
			other = document.getElementById('total_title');
		}
		else{
			results.style.display = hide;
			total.style.display = show;
			other = document.getElementById('results_title');
		}
		if(!tab.classList.contains("active")){
			tab.classList.add("active");
			tab.classList.remove("text-muted");
			other.classList.remove("active");
			other.classList.add("text-muted");
		}
	}

	function decodeBool(input){
		if (input == 'True' || input == 'true' || input == true){
			return true;
		}
		else{
			return false;
		}
	}

	async function pan(element){
		var delay = 3000;
		var animation = 5000;
		var speed = 28;
		var wait = true;
		var refresh = false;
		var parent = document.getElementById('parent');
		setTimeout(()=>{wait=false;}, delay);
		setInterval(function () {
			if(!wait){
				panText(element, parent);
			}
			else if(refresh){
				refreshElement(parent);
				refresh = false;
			}
			else{
				initializePos(element);
			}
    	}, 1);

		function initializePos(element){
			var pWidth = getWidth(element.parentElement);
			var cWidth = getWidth(element);
			var translateX = getTranslateX(element);
			if ((pWidth >= cWidth) && getTranslateX(element) != 0) {
				element.style.transitionDuration = '0s';
				element.style.transform = "translateX(0px)";
				refreshElement(parent);
			}
		}

		function panText(element, parent) {
			var pWidth = getWidth(element.parentElement);
			var cWidth = getWidth(element);
			var translateX = getTranslateX(element);
			if(pWidth < cWidth){
				animation = (cWidth - pWidth) * speed
				element.style.transitionDuration = (animation / 1000).toString() + 's';
				if(translateX >= 0){
					width = pWidth - cWidth
					element.style.transform = "translateX(" + width +"px)";
					refreshElement(parent);
					wait = true;
					setTimeout(()=>{wait=false;}, animation + delay);
					setTimeout(()=>{refresh=true;}, animation - 5);
				}
				else{
					element.style.transform = "translateX(0px)";
					refreshElement(parent);
					wait = true;
					setTimeout(()=>{wait=false;}, animation + delay);
					setTimeout(()=>{refresh=true;}, animation - 5);
				}
			}
			else if (getTranslateX(element) != 0){
				console.log(getTranslateX(element));
				element.style.transitionDuration = '0s';
				element.style.transform = "translateX(0px)";
				refreshElement(parent);
			}
		}
		

	}

	function setWidth(element){
		element.style.width = "auto";
		var pWidth = getWidth(element.parentElement);
		var cWidth = getWidth(element);
		if(cWidth < pWidth){
			element.style.width = "100%";
		}
	}
	function getWidth(element){
			var style = getComputedStyle(element);
			var width = style.getPropertyValue("width");
			width = parseInt(width.split("px")[0]);
			return width;
	}

	function getTranslateX(element){
			var style = window.getComputedStyle(element);
			var matrix = new WebKitCSSMatrix(style.transform);
			return matrix.m41;
		}
</script>
<style>
	.song-link{
		text-decoration:none;
	}

	.category-name {
		white-space: nowrap;
		overflow: hidden;
		position: relative;
		width: 90%;
		margin:auto;
	}

	.play-bar{
		border-color: lightgray;
		border-width: 2px;
		border-style: solid;
		border-radius: 12px;
		height: auto;
		border-bottom:none;
		border-left: none;
		border-right: none;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
		max-width:800px;
		margin-left: auto;
		  margin-right: auto;
		background-color: white;
	}

	.action{
		width: 85%; 
		border-radius:16px; 
		color:white !important;
		border-bottom-left-radius: 0px;
		border-bottom-right-radius: 0px;
	}

	.like{
		display:inline-block;
		font-size: 2em;
		position: relative;
	}
	.song-color{
		color: rgb(130, 128, 131);
	}
	.right-align{
		text-align: right;
	}
</style>

<div class="fixed-bottom">
	<div id="parent" class = "container text-center form-width" style="padding-bottom:1em;">
		<div style="visibility:hidden">
			<p style="margin-bottom:0; line-height:.5em;">Rendering</p>
		</div>
		<div class="alert alert-danger" id='device_error' style='display:none;'>
			Playback Device is No Longer Active, Reopen Device or Click <a href="{%url 'settings' party.id %}">Here</a> to Change Device
		</div>
		<div style="position:relative">
			<img id = "blur" class="blurry artwork-square" alt=""/>
			<img id = "artwork" class="clear artwork-square" alt=""/>
		</div>
		<div class="pt-1">
			{% load static %}
			<img id = "logo" style='display:none;' src="{% static 'images/Spotify_Icon_RGB_Green.png' %}" width="21" height="21" alt="...">
		</div>
		<div class="song-title">
			<h5 id="song_title" style="position:absolute;"></h5>
			<h5 style="visibility:hidden;">Text to Set the Height of the Parent Div</h5>
		</div>
		<a id = "song_link" style='visibility:hidden; position:relative; bottom: .5em;' class="song-link song-color"><h6 id = "song_artist"></h6></a>
		<div class="pt-1">
			{% load static %}
			<img id = "logo_placeholder" style='visibility:hidden;' src="{% static 'images/Spotify_Icon_RGB_Green.png' %}" width="21" height="21" alt="...">
		</div>
	</div>
	<div class="play-bar">
		<div class="row pb-2">
			<div class="col-8 pt-2 text-left ">
				<div class="category-name">
					<h5 id = "category_name" style="position:absolute; margin-bottom:0"></h5>
					<h5 id = "category_name_hidden" style="visibility:hidden; margin-bottom:0">Text to Set the Height of the Parent Div</h5>
					<h6 id ="category_leader" class="category-leader song-color"></h6>
				</div>
			</div>
			<div class="col-4 pe-4 pt-2 right-align">
				<div id="like" class="like song-color pe-2" style="bottom:.20em">
					<em id="like_icon" class="fa-regular fa-thumbs-up"></em>
				</div>
				<div id="dislike" class="like song-color pe-2" style="top:.10em;">
					<em id="dislike_icon" class="fa-regular fa-thumbs-down"></em>
				</div>
			</div>
		</div>
		<div class="text-center">
			<a id="action" class ="btn btn-dark btn-lg text-primary display:none; action" role="button"></a>
		</div>
	</div>

	<nav class="navbar navbar-light">
		<a href="{% url 'users' pid=party.id %}" class="btn navbar-btn"> <em class="fa fa-users"></em></a>
		<div class=" ps-5 text-white text-center">
			<a class="btn navbar-btn" data-bs-toggle="modal" data-bs-target="#qrModal"><strong id="party_code"></strong> <em class="fa fa-qrcode"></em></a>
		</div>	
		<a class="btn navbar-btn" data-bs-toggle="modal" data-bs-target="#resultsModal">Results <em class="fa fa-bar-chart"></em></a>
	</nav>
</div>
	<!-- Results Modal -->
	<div class="modal fade" id="resultsModal" tabindex="-1" role="dialog">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header row d-flex justify-content-between mx-1 mx-sm-3 mb-0 pb-0 border-0">
					<ul class="nav nav-tabs">
						<li class="nav-item">
						  <a class="nav-link active" id="results_title" aria-current="page">Results</a>
						</li>
						<li class="nav-item">
						  <a class="nav-link text-muted" id ="total_title">Total</a>
						</li>
					  </ul>
				</div>
				<div id="results_body" class="modal-body text-center">
					<h6 id=results_header></h6>
					<div id="results_contents"></div>
				</div>
				<div id="total_body" class="modal-body text-center" style="display:none;">
					<table class="table">
						<caption></caption>
						<thead>
						  <tr>
							<th id="total_name">Name</th>
							<th id="total_likes">Likes</th>
						  </tr>
						</thead>
						<tbody id= "total_contents">
							<tr>
								<td>Everyone</td>
								<td>∞</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<!-- QR Modal -->
	<div class="modal fade" id="qrModal" tabindex="-1" role="dialog">
		<div class="modal-dialog center" role="document">
			<div class="modal-content qr-square">
				<div class="modal-body content">
					{% load static %}
						<img style="width:100%;" src="https://api.qrserver.com/v1/create-qr-code/?size=200x200&data={{ URL }}/party/join_party/?code={{ party.joinCode }}"
						alt="" />	
				</div>
			</div>
		</div>
	</div>
{% endblock %}
