<!DOCTYPE html>

{% extends "base.html" %}
{% block page_content %}
<html lang="en">
	
	<body>
	<div class = "container text-center">
		
		<h4>{{party.name}}</h4>
		<h6>Category: {{category.name}}</h6>
		{% if song.art != "lull" %}
		<img src={{song.art}} class="img-thumbnail" width="300" height="300" alt="...">
		<h6>{{song.name}}</h6>
		{% else %}
		{% load staticfiles %}
		<img src="{% static 'images/sleep.jpg' %}" class="img-thumbnail" width="300" height="300"  alt="" />
		<h6>Someone Needs to Choose a Cateogry or Pick a Song</h6>
		{% endif %}
		
	
		<form action="" method="post">
			{% csrf_token %}
					
			{% if user.turn == "picking" %}
				<input type="submit" class="btn btn-outline-primary" value="Choose Category">
			{% elif party.state == "pick_song" and not user.hasPicked %}
				<input type="submit" class="btn btn-outline-primary" value="Pick Song">
			{% endif %}
			
			<!-- <i class="fa fa-thumbs-o-up"></i> --> 
			
			
		</form>
		
	</div>
	</body>
	
	<nav class="navbar fixed-bottom navbar-dark bg-primary">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<span class="navbar-brand">{{party.joinCode}}</span>
	</nav>

</html>
{% endblock %}
