<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}
<html lang="en">

	
	<body>
	
		
		<div class="container">
			
				<div>
					{% if isArtist %}
					<h4>Artist Results</h4>
					{% else %}
					<h4>Search Results</h4>
					{% endif %}
					 <form action="" method="post">

						{% csrf_token %}
						<table>
							<tbody>
								
								<tr>
									<td>
									{{ form.results }}
									</td>

								</tr>
								
							{% if invalid and isArtist %}
								<div class="alert alert-info">
									select a valid artist
								</div>
							
							{% elif invalid and not isArtist  %}
								<div class="alert alert-info">
									select a valid song
								</div>
							{% endif %}
			
								<tr>
									<td>
									<input type="submit" class="btn btn-outline-primary btn-sm" name="back"  value="Back">
									{% if isArtist %}
									<input type="submit" class="btn btn-outline-primary btn-sm" name="artist" value="Search Artist's Songs">
									{% else %}
									<input type="submit" class="btn btn-outline-primary btn-sm" name="add2q" value="Add to Queue">
									{% endif %}
									</td>
								<tr>
							</tbody>
						</table>
				
					</form>
				</div>
			
		</div>
	
	</body>
	
</html>
{% endblock %}
