{% extends "base.html" %}
{% block page_content %}

<script type="text/javascript">
	$(document).ready(function() {
		var time = document.getElementById("id_time");
		time.addEventListener("focusout", validateTime);
		time.classList.add('form-control');
		setDeviceCard('{{device.active}}'=='True','{{device.type}}', '{{device.name}}');
	});
	function validateTime(e){
		if(e.target.value < 30){
			e.target.value = 30;
		}
	}
	var inactivity = false;

	setInterval(function () {
		if (!inactivity){
			$.ajax({
				url: '/party/update_set_device',
				data: {
				'pid': {{ party.pk }}
				},
				dataType: 'json',
				success: function (data) {
					setDeviceCard(data.device.active, data.device.type, data.device.name)
					inactivity = data.stop;
				}
			});
		}
	}, 1000);
</script>

<div class="container" style="width:90%">
	<div class="text-center">
		<h5>Settings</h5>
	</div>
	<form action="" method="post">
		{% csrf_token %}
		<div class="row pt-3">
			<h6>Device</h6>
		</div>
		<div class = "card">
			<div class="ps-4 pt-2 pb-2 text-start row">
				<div class = "col-1 pe-0">
					<em id="device" class="device-set"></em>
				</div>
				<div id="name" class="col-11 text-start ps-3 pt-1">
					No Active Device Found
				</div>
			</div>
		</div>
		<div class="text-center">
			<small id="message" style="color:gray; display:none">inactive device, select play in Spotify to activate device</small>
		</div>
		<div class="row pt-3">
			<h6>Time <small>(seconds)</small></h6>
		</div>
		<div class="row ps-3 pe-3">
			{{ form.time }}
		</div>

		<div class="text-end pt-3">
			<a href="{% url 'start_party' pid=party.pk %}" id="play" class="btn btn-outline-primary">Back</a>
			<input type="submit" class="btn btn-outline-primary" name="submit" value="Submit"></input>
		</div>

		<!-- Button to Open the Modal -->
		<div class="pt-5 text-center">
			<button type="button" class="btn btn-outline-danger btn-lg" data-bs-toggle="modal" data-bs-target="#killModal">
				Kill Party
			</button>
		</div>

		<div class="modal fade" id="killModal" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<em>If we stay here...The Party Dies</em>
						<div class="text-end">
							<p>- Cash Levy</p>
						</div>
					</div>

					<!-- Modal footer -->
					<div class="modal-footer">
						<input type="submit" class="btn btn-outline-danger" name="kill" value="Kill Party"></input>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
{% endblock %}