<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}
<div class="container">
	<div class="text-center">
		<h5>Users</h5>
	</div>
	<form action="" method="post">
        {% csrf_token %}
        
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Picked Vibe?</th>
                    <th>Picked Song?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for u in users %}
                <tr>
                    <td>{{u.name}}</td>
                    {% for key, value in decode.items %} 
                    {% if key == u.turn %}
                    <td>{{value}}</td>
                    {% endif %}
                    {% endfor %}
                    
                    {% for key, value in decode.items %} 
                    {% if key == "True" and u.hasPicked %}
                    <td>{{value}}</td>
                    {% elif key == "False" and not u.hasPicked %}
                    <td>{{value}}</td>
                    {% endif %}
                    {% endfor %}
                    {% if isHost and not u.isHost %}
                    <td><button class="btn text-danger bg-white " name = {{u.sessionID}}> <em class="fa fa-times"></em></button></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

		<div class="text-right pt-3">
            <a href="{% url 'play' pid=party.pk %}" id="play" class="btn btn-outline-light btn-lg block" style= "border:3px solid black; border-radius:16px; color:black">Back</a>
            {% if isHost %}
			<input type="submit" class="btn btn-outline-light btn-lg block" style= "border:3px solid black; border-radius:16px; color:black" name="skip" value="Skip to Next Round"></input>
            {% endif %}
        </div>

		
	</form>
</div>

</html>
{% endblock %}