<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}

	<script>
		var inactivity = false;

		setInterval(function () {
			if (!inactivity){
				$.ajax({
					url: '/party/update_devices',
					data: {
					'pid': {{ party.pk }}
					},
					dataType: 'json',
					success: function (data) {
						if (data.refresh) {
							location.reload();
						}
						inactivity = data.stop;
					}
				});
			}
		}, 5000);
			
	</script>

	<div class="container">				
		<form action="" method="post">
			{% csrf_token %}
			<div class = "pt-2">
				<h6>Choose a Playback Device</h6>
				{{ form.device }}
			</div>
			
			<div class = "pt-2">
				<input type="submit" class="btn btn-outline-primary" value="Submit">
			</div>
		</form>
		
		<!-- Button to Open the Modal -->
		<div class = "pt-5 text-right">
			<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal">
				Not Seeing Your Device?
			</button>
		</div>
	</div>
	

	<!-- The Modal -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<!-- Modal Header -->
					<div class="modal-header">
					<h4 class="modal-title">Not Seeing your Device?</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<!-- Modal body -->
					<div class="modal-body">
						<p>Try opening the Spotify app.</p>
						<p>In order for your device to be recognized, Spotify needs to be open on your device.</p>
						<p>A device can be anything that is compatible with Spotify. It could be a phone, laptop, web-player, or a smart speaker</p>
					</div>
					<!-- Modal footer -->
					<div class="modal-footer">
						<button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
