<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}
	<div class = "container form-width">
		<form action="" method="post">
			{% csrf_token %}
			{% if not party_name %}
			<h5>{{ form.party_code.label }}</h5>
			{{ form.party_code }}
			{% else %}
			<div class="d-none">{{ form.party_code }}</div>
			<h6>Join {{host}}'s Sesh</h6>
			<div class="text-center">
			<strong>{{ party_name }}</strong>
			</div>
			{% endif %}
			{% if invalid %}
			<div class="alert alert-info">
				invalid room code
			</div>
			{% endif %}
			
			<div class = "pt-2">
				<h5>{{ form.user_name.label }}</h5>
				{{ form.user_name }}
			</div>

			<div class = "pt-2 text-end">
				<input type="submit" class="btn btn-outline-light btn-lg block" style= "border:3px solid black; border-radius:16px; color:black" value="Submit">
			</div>	
		</form>
	</div>
{% endblock %}
