<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}
	<div class = "container">
		<form action="" method="post">
			{% csrf_token %}
			{% if not party_name %}
			<h6>{{ form.party_code.label }}</h6>
			{{ form.party_code }}
			{% else %}
			<div class="d-none">{{ form.party_code }}</div>
			<h6>Join {{host}}'s Sesh</h6>
			<div class="text-center">
			<strong>{{ party_name }}</strong>
			</div>
			{% endif %}
			{% if invalid %}
			<div class="alert alert-info">
				invalid room code
			</div>
			{% endif %}
			
			<div class = "pt-2">
				<h6>{{ form.user_name.label }}</h6>
				{{ form.user_name }}
			</div>

			<div class = "pt-2 text-right">
				<input type="submit" class="btn btn-outline-primary" value="Submit">
			</div>	
		</form>
	</div>
{% endblock %}
