<!DOCTYPE html>

{% extends "base.html" %}
{% block page_content %}
	<div class = "container">
		<form action="" method="post">
			{% csrf_token %}	
			<div class = "row, text-center pt-5">
				<input type="submit" class="btn btn-outline-success btn-lg" value="Log in to Spotify Premium">
			</div>
		</form>
			
		  <!-- Button to Open the Modal -->
		<div class = "pt-5 text-right">
			<button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal">
				Help
		  	</button>
		</div>
	</div>
	
	<!-- The Modal -->
	<div class="modal fade" id="myModal">
		<div class="modal-dialog">
			<div class="modal-dialog modal-dialog-scrollable">
				<div class="modal-content">
					<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">About Logging In</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
					<!-- Modal body -->
					<div class="modal-body">
						<h6>What is this?</h6>
						<p>Queue it Up requires the party host to have access to a Spotify Premium account. After selecting the Log in button, you will be brought to Spotify's official Log in page.
						</p>
						<p>If you are not redirected to Spotify's login page after submitting your username and are brought to the 'terms and conditions' page, it is because your web browser remembers you. If you want to log in with a different account, try clearing your web browser's cookies and site data. 
						</p>
					</div>
					
					<!-- Modal footer -->
					<div class="modal-footer">
					<button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}
