<!DOCTYPE html>

{% extends "base.html" %}
{% block settings %}

<script>

	$(document).ready(function() {
		setDeviceIcon('{{device.active}}'=='True','{{device.type}}', '{{device.name}}');
	});
	var inactivity = false;

	function getDeviceData() {
		if (!inactivity){
			$.ajax({
				url: '/party/update_set_device',
				data: {
				'pid': {{ party.pk }}
				},
				dataType: 'json',
				success: function (data) {
					setDeviceIcon(data.device.active, data.device.type, data.device.name)
					inactivity = data.stop;
				},
				complete: function (data){
					setTimeout(getDeviceData, 1000);
				}
			});
		}
	}
	setTimeout(getDeviceData, 1000);
</script>

<a href="{% url 'settings' pid=party.id %}"><em id="device" class="device"></em></a>
{% endblock %}


{% block page_content %}
	<div class = "container form-width">
		<form action="" method="post">
			{% csrf_token %}
			<h5>{{ form.party_name.label }}</h5>
			{{ form.party_name }}
			<div class = "pt-2">
				<h5>{{ form.user_name.label }}</h5>
				{{ form.user_name }}
			</div>
			<div class = "pt-2 text-end">
				<input type="submit" class="btn btn-dark btn-lg block text-primary button-black" value="Submit">
			</div>
		</form>	
	</div>
{% endblock %}
