<!DOCTYPE html>
{% extends "base.html" %}
{% block meta %}
<title>Name Sesh</title>
<meta name="description" content="This is the page where you name your sesh dawg"/>
{% endblock %}
{% block settings %}
<script>

	$(document).ready(function() {
		setDeviceIcon('{{device.active}}'=='True','{{device.type}}', '{{device.name}}');
	});
	var inactivity = false;

	function getDeviceData() {
		if (!inactivity){
			$.ajax({
				url: '/party/update_set_device',
				data: {
				'pid': {{ party.pk }}
				},
				dataType: 'json',
				success: function (data) {
					setDeviceIcon(data.device.active, data.device.type, data.device.name)
					inactivity = data.stop;
				},
				complete: function (data){
					setTimeout(getDeviceData, 1000);
				}
			});
		}
	}
	setTimeout(getDeviceData, 1000);
</script>

<a href="{% url 'settings' pid=party.id %}"><em id="device" class="device"></em></a>
{% endblock %}


{% block page_content %}

<style>
	.enjoyhint_close_btn,
	.enjoyhint_skip_btn,
	.enjoyhint_next_btn,
	.enjoyhint_prev_btn{
		display:none;
	}
	.enjoyhint_disable_events{
		pointer-events: none;
	}
</style>

<script>
    //initialize instance
    var enjoyhint_instance = new EnjoyHint({});
    //simple config.
    var enjoyhint_script_steps = [
        {
          'next .device' : 'psst, settings are right here if you ever need em',
		  shape : 'circle'
        }
    ];
    //set script config
    enjoyhint_instance.set(enjoyhint_script_steps);
    //run Enjoyhint script on first page load
    window.onload = function () {
		if (!('hasCodeRunBefore' in localStorage)) {
			enjoyhint_instance.run();
			localStorage.setItem("hasCodeRunBefore", true);
			document.addEventListener('click', stopTour);	
		}	
	}
	function stopTour(e){
		enjoyhint_instance.stop();
	}
  </script>

  <script>

	$(document).ready(function () {
			var button = document.getElementById('button');
			var carousel = document.getElementById('swipe');
			initSwipeButton(button, carousel);
	});

	function swipeSubmit(){
		document.nameParty.submit();
	}


	async function validateInput(){
		var valid = true;
		var party_name = document.getElementById('id_party_name');
		var party_info = document.getElementById('party_info');
		if(party_name.value == ""){
			party_info.style.display = 'block';
			valid = false;
		}
		else{
			party_info.style.display = 'none';
		}
		var user_name = document.getElementById('id_user_name');
		var user_info = document.getElementById('user_info');
		if (user_name.value == ""){
			user_info.style.display = 'block';
			valid = false;
		}
		else{
			user_info.style.display = 'none';
		}
		return valid;
	}


  </script>

	<div class = "container form-width">
		<form name="nameParty" action="" method="post">
			{% csrf_token %}
			<h5>{{ form.party_name.label }}</h5>
			{{ form.party_name }}
			<div id="party_info" class="ps-3 validator">
				<em>empty...need not empty</em>
			</div>
			<div class = "pt-2">
				<h5>{{ form.user_name.label }}</h5>
				{{ form.user_name }}
				<div id="user_info" class="ps-3 validator">
					<em>need some text here...could be anything</em>
				</div>
			</div>
			{% include "swipe.html" with swipe_text="SLIDE TO CONTINUE"  button_text="Submit" %}
		</form>	
	</div>
  

{% endblock %}
