<!DOCTYPE html>

{% extends "base.html" %}
{% block page_content %}

<script>
	var active = '{{device.active}}' == 'True';
	$(document).ready(function () {
		setActiveProperties(active, '{{device.type}}', '{{device.name}}');
		var button = document.getElementById('button');
		var carousel = document.getElementById('swipe');
		initSwipeButton(button, carousel);
	});

	var inactivity = false;

	function getDeviceData() {
		if (!inactivity) {
			$.ajax({
				url: '/party/update_set_device',
				data: {
					'pid': {{ party.pk }}
				},
				dataType: 'json',
				success: function (data) {
					active = data.device.active
					setActiveProperties(active, data.device.type, data.device.name)
					inactivity = data.stop;
				},
				complete: function(data){
					setTimeout(getDeviceData, 1000);
				}
			});
		}
		else {
			window.location.replace('/index');
		}	
	}
	setTimeout(getDeviceData, 1000);

	function swipeSubmit(){
		document.setDevice.submit();
	}

	async function validateInput(){
		var valid = active;
		var device_validator = document.getElementById('device_validator');
		if(!valid){
			device_validator.style.display = 'block';
		}
		else{
			device_validator.style.display = 'none';
		}
		return valid;
	}

</script>

<div class="container form-width">
	<form name="setDevice" action="" method="post">
		{% csrf_token %}
		<div class="pt-2">
			<div class="pb-3">
				<h5><strong>Set Playback Device in Spotify</strong></h5>
			</div>
			<div id="message" class="ps-3 pb-3">
				<h5>1. Open Spotify</h5>
				<h5>2. Shuffle Your Fav Playlist</h5>
				<h5>3. Click Continue Below</h5>
			</div>
			<div class="card">
				<div class="ps-4 pt-2 pb-2 text-start row">
					<div class="col-1 pe-5">
						<em id="device" class="device-set"></em>
					</div>
					<div id="name" class="col-11 text-start ps-3 pt-1" style="display:contents;">
						No Active Device Found
					</div>
				</div>
			</div>
			<div id="device_validator" class="ps-3 validator">
				<em>need an active device to continue</em>
			</div>
			{% include "swipe.html" with swipe_text="SLIDE TO CONTINUE"  button_text="Submit" %}
		</div>
	</form>
</div>
{% endblock %}