<!DOCTYPE html>

{% extends "base.html" %}

{% block page_content %}
<html lang="en">
	
	{% if url != '' %}
	<script type='text/javascript'>
		const url= "{{url}}";
		const parseResult = new DOMParser().parseFromString(url, "text/html");
		const parsedUrl = parseResult.documentElement.textContent;
		var windowObjectReference;
		var strWindowFeatures = "menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=yes";
		windowObjectReference = window.open(parsedUrl, "WindowName", strWindowFeatures);
	</script>
	{% endif %}
	
	<body>
		<div class="container text-center">
			
			<div>
				<h5>This is your Authentication Code</h5>
				<form action="" method="post">
					{% csrf_token %}
					<h1>{{code}}</h1>
					
					{% if not isVisible %}
					<p>You may need to refresh the page after completing authentication</p>
					{% endif %}
						
					<div class = "row">
						<div class = "col">
						</div>
					<div class = "col">
						</div>
						<div class = "col">
							{% if isVisible %}
							<input type="submit" class="btn btn-outline-primary btn" value="Choose a Device">
							
							{% endif %}
						</div>
					</div>
				</form>
			</div>
		</div>
	
	</body>
		  <!-- Button to Open the Modal -->
		  <div class = "pt-5 text-right">
		  <button type="button" class="btn btn-outline-info" data-toggle="modal" data-target="#myModal">
			Help
		  </button>
		</div>
		  <!-- The Modal -->
		  <div class="modal fade" id="myModal">
			<div class="modal-dialog">
			<div class="modal-dialog modal-dialog-scrollable">
			  <div class="modal-content">
			  
				<!-- Modal Header -->
				<div class="modal-header">
				  <h4 class="modal-title">About Authentication</h4>
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>
				
				<!-- Modal body -->
				<div class="modal-body">
				 <p>This is your authentication code. A new tab should have automatically opened in your browser. Navigate to that tab and submit your authentication code</p>
				 <h6> Already submitted your Code?</h6>
				<p>Hit the refresh button and choose your device</p>
				</div>
				
				<!-- Modal footer -->
				<div class="modal-footer">
				  <button type="button" class="btn btn-outline-info" data-dismiss="modal">Close</button>
				</div>
				</div>
			  </div>
			</div>
		  </div>
</html>
{% endblock %}
